
.idea/
data/__pycache__/
data/datasets/__pycache__/
data/datasets/conll_2003/__pycache__/
data/preprocessors/__pycache__/
asset/train
model/embeddings/glove*
data/datasets/conll_2003/*.csv
data/datasets/conll_2003/*.tsv
data/datasets/conll_2003/clean*
data/datasets/conll_2003/metadata*
data/datasets/conll_2003/vocabulary*
*.ipynb_checkpoints
*.ipynb
*.tsv
__pycache__
